@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
}

.bookmark:focus div div, .author:focus, .contact:focus div svg, .pomodorobtn:focus {
  outline: 4px solid theme("colors.violet.600");
}
